@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html{
  background-image: url("Clouds.png");
}
h1 {
  margin-left: 30%;
  color: rgb(255, 255, 255);
<<<<<<< HEAD
  font-family: 'Oswald', sans-serif;
  size: 50%;
}
=======
  font-family: sans-serif;
  size: 100px;
}
>>>>>>> 0ea29610df76065d9f445330aaca1b31c56d9ab1
